%h1 Listing perfumes

%table
  %thead
    %tr
      %th Name
      %th Trend
      %th Family type
      %th Perfume type
      %th
      %th
      %th

  %tbody
    - @perfumes.each do |perfume|
      %tr
        %td= perfume.name
        %td= perfume.trend
        %td= perfume.family_type_id
        %td= perfume.perfume_type_id
        %td= link_to 'Show', perfume
        %td= link_to 'Edit', edit_perfume_path(perfume)
        %td= link_to 'Destroy', perfume, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Perfume', new_perfume_path
